.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
    padding: 22px 0;
}

.nav-bar__btn-list {
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.nav-bar__icons {
    display: flex;
}

.nav-bar__btn {
    padding: 8px 36px;
}

.nav-bar__btn > a {
    color: white;
}

.nav-bar__icons{
    margin-right: 60px;
}

.nav-bar__logo{
    margin-left: 60px;
}

.nav-bar__icons-search,
.nav-bar__icons-MyPage {
    margin-left: 20px;
}





